@{
    ViewData["Title"] = "Blogg";
}
<style>
    body {
        line-height: 26px;
        font-family: Verdana;
    }
    .bloggbild {
        height: 170px;
        max-width: 270px;
        
    }
    #center{
        text-align: center;

    }
    .logo {
        height: 200px;
        width: 370px;
        display: block;
        margin: auto;
    }
</style>


<br />
<br />
<br />
@*<div class="col-md-9">
    <h2>Offertguidens blogg</h2>
    
    <p>Här skriver vi om om våra olika utförda uppdrag. Följ våra äventyr och se hur olika problem blir renoverade från dag till dag.</p>
</div>
<div class="col-md-3">
    <br /><br />
    <a href="http://www.soliditet.se/lang/sv_SE/RatingGuideline" target="_blank" style="text-decoration: none;"><img style="border:0px;" oncontextmenu="return false" title="Vi &auml;r ett kreditv&auml;rdigt f&ouml;retag enligt Bisnodes v&auml;rderingssystem som baserar sig p&aring; en m&auml;ngd olika beslutsregler. Denna uppgift &auml;r alltid aktuell&#44; informationen uppdateras dagligen via Bisnodes databas." alt="Vi &auml;r ett kreditv&auml;rdigt f&ouml;retag enligt Bisnodes v&auml;rderingssystem som baserar sig p&aring; en m&auml;ngd olika beslutsregler. Denna uppgift &auml;r alltid aktuell&#44; informationen uppdateras dagligen via Bisnodes databas." id="aaLogo" src="http://merit.soliditet.se/merit/imageGenerator/display?lang=SE&country=SE&cId=kiHXHSMYKv%2FkM7Ubyt8aFg%3D%3D&cUid=EhZ89c%2B10Lo%3D&imgType=img_273_73_px_tr1" /></a>
    <br />
    <br />
    <br />
</div>*@
<div class="col-md-12">
    <h2 id="center"> Offertguidens blogg</h2>
    @*<img class="logo" src="https://scontent-arn2-1.xx.fbcdn.net/v/t31.0-8/20988967_816521085173763_2111244182439520462_o.jpg?oh=553da4ac4b1757bffbf04ad9f783abe6&oe=5A5D6DFE" />
    <img class="logo" src="https://scontent-arn2-1.xx.fbcdn.net/v/t31.0-8/21016007_816521178507087_6752908914213709113_o.jpg?oh=639920079485ac557fd7c793ad4335c2&oe=5A48EC1E" />*@
</div>

<div class="col-md-12" id="center">
    <h3>Senaste blogginlägg och poster</h3>
    <br />
</div>
<div class="col-md-3">
    <img class="bloggbild" src="https://scontent-arn2-1.xx.fbcdn.net/v/t31.0-8/21015817_816534058505799_8987243056785231167_o.jpg?oh=c045a6a2397b432d3e9d607199e8c839&oe=5A51B72C" alt="bloggbild" />
    <h4>Vi renoverar tak</h4>
</div>

<div class="col-md-3">
    <img class="bloggbild" src="https://scontent-arn2-1.xx.fbcdn.net/v/t31.0-8/21016096_815991308560074_5928288093748299654_o.jpg?oh=1dfebf9fb663d3b439634c826f4a3143&oe=5A5382C4" alt="bloggbild" />
    <h4>Takutbyte i Täby</h4>
</div>

<div class="col-md-3">
    <img class="bloggbild" src="https://scontent-arn2-1.xx.fbcdn.net/v/t31.0-8/21016007_816521178507087_6752908914213709113_o.jpg?oh=639920079485ac557fd7c793ad4335c2&oe=5A48EC1E" alt="bloggbild" />
    <h4>Panelbyte på villa i Bromma</h4>
</div>

<div class="col-md-3">
    <img class="bloggbild" src="https://scontent-arn2-1.xx.fbcdn.net/v/t31.0-8/20988309_816016671890871_2553236634825829105_o.jpg?oh=c4bbf06e8c27f8a71d40c4ca64e40c83&oe=5A134C57" alt="bloggbild" />
    <h4>Reovering utav plåttak</h4>
</div>

<div class="col-md-3">
    <img class="bloggbild" src="https://scontent-arn2-1.xx.fbcdn.net/v/t31.0-8/21015817_816534058505799_8987243056785231167_o.jpg?oh=c045a6a2397b432d3e9d607199e8c839&oe=5A51B72C" alt="bloggbild" />
    <h4>Vi renoverar tak</h4>
</div>

