
@{
    ViewData["Title"] = "Bostadsrattsforening";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/tjanster.css" />
</head>

<br />
<br />
<br />
<br />

<div class="col-md-8">
<h2>Tjänster för Bostadsrättsföreningar</h2>
    <br />
    <br />
<p>
    <b>Gör en smart upphandling som styrelse i bostadsrättsföreningen</b><br />
    En styrelse i en bostadsrättsförening har ansvaret över föreningens egendom och ekonomi och att förvaltning av dessa sker på rätt sätt. När det är dags för renovering eller andra byggprojekt kommer bostadsrättsföreningen att stå inför tidskrävande och krångliga upphandlingsprocesser.
<p/>
    <br />
    <p>
        <b>Styrelsens ansvar (Smartare upphandling)</b><br />
        Samtidigt som styrelsen har ansvar över att förvalta pengarna på ett bra sätt har den samtidigt intresse i att visa upp vad den planerar att göra med pengarna samtidigt som medlemmarna i föreningen har möjligheten att vara med i processen. Genom att låta OffertGuiden sköta upphandlingarna kommer styrelsen att på ett strukturerat sätt kunna följa med genom hela processen och påverka enligt egna önskemål. Vi har som regel att gå ut med ett förfrågningsunderlag till ett antal olika entreprenörer som vi har ingått samarbete med. Minst tre offerter tas in och granskas tillsammans med OffertGuiden där antalet offerter oftast överstiger fem stycken vid större arbeten, som t.ex. stambyten, stora takomläggningar och omfattande fasadrenoveringar.
    <p />
    <br />
    <p>
        <b>Hur ska offerterna presenteras?</b><br />
        En upphandling innebär att OffertGuiden begär in offerter från entreprenörer på de produkter eller tjänster som föreningen har behov av. Med detta följer att föreningen får ett antal olika offerter tillbaka för granskning. Vanligtvis brukar man i upphandlingstermer prata om att man får ett antal anbud men föreningar som inte lyder under samma lagar och regler som en offentlig verksamhet kan istället uppfatta anbuden som offerter. Den offertförfrågan som OffertGuiden gör ska vara noggrann och detaljerad, allt för att alla inom styrelsen ska vara medvetna om vad som ingår och efterfrågas. När offerterna har inkommit granskas dessa av OffertGuiden för att säkerställa att alla offerter är baserade på samma förfrågningsunderlag. Därefter väljs rätt offert i samråd med OffertGuiden.
    <p />
    <br />
    <p>
        <b>Val av entreprenörer</b><br />
        För OffertGuiden är det alltid viktigt att ha samarbete med pålitliga och kunniga företagare. Företagen ska vara professionella inom sitt gebit och samtidigt kunna visa upp referenser på liknande projekt som de ansöker om. Anledningen till detta är enkel. Omfattande arbeten hos bostadsrättsföreningar berör ofta många medlemmar i föreningen i form av olika störande moment varpå det är viktigt att säkerställa att företagen har hanterat liknande projekt på ett professionellt sätt.
    <p />
    <br />
    <p>
        <b>Förfrågningsunderlaget är extremt viktigt</b><br />
        För att uppnå ett bra resultat av upphandlingen är det viktigt att veta vilka områden som ska beröras och vilka frågor som ska ställas till entreprenörerna. Att bara fråga om pris och omfattning är inte tillräckligt. Det är här vi kommer in och bidrar med vår expertis och erfarenhet. OffertGuidens uppgift är att ta fram förfrågningsunderlaget med den kunskap som finns i företaget.
    <p />
    <p>
        Komplexa arbeten kan komma att kräva olika lösningsförslag från entreprenörer där bästa lösningen baserat på kostnadseffektivitet tas fram. Därefter kan ett nytt förfrågningsunderlag tas fram i samråd med bostadsrättsföreningen och skickas till entreprenörer för att nå den kompletta och mest kostnadseffektiva lösningen.
    <p />
    <br />
    <p>
        <b>Information och avtal</b><br/>
        Det gäller att som styrelse för en bostadsrättsförmedling hålla sina medlemmar uppdaterade om vad det är som gäller, hur lång tid det kommer att ta, när det börjar och är tänkt att sluta samt vad resultatet förväntas bli.  Dock så är det styrelsens ansvar (i samråd med OffertGuiden) att sköta förhandlingarna och teckna avtalen.  Det handlar helt enkelt om sekretessfrågor gentemot entreprenören, uppgifter som kan skada entreprenören om de skyltas med på ett offentligt sätt i föreningen.  Skriftliga avtal är alltid ett krav, inte minst med tanke på om det finns risk för framtida tvister mellan parterna.  Dessa avtal gås igenom med OffertGuiden på området då det inte får finnas några kryphål som eventuellt kommer göra hela inköpet till en katastrof. Avtalets noggrannhet är också extremt viktigt på grund av att en bostadsrättsförening klassas som en näringsidkare, alltså inte en konsument.  Det betyder att bostadsrättsföreningen inte skyddas av konsumentlagen, utan det är avtalet som är det avgörande pappret att rätta sig efter, för båda parter.
    <p />
    <br />
    <p>
        <b>OffertGuiden rekommenderar besiktning</b><br />
        I en bostadsrättsförening pågår ständigt förbättringar i lägenheterna och i fastigheten som helhet. Styrelsen har ett stort ansvar för fastigheten gällande myndighets – och försäkringskrav. Dessutom ska fastigheten hållas i ett bra skick med underhåll – och åtgärdsplaner för att bibehålla fastighetens värde. Som specialist på besiktningar med stor erfarenhet av ombyggnationer, takomläggningar och stambyten erbjuder vi fasta priser på besiktningar för de flesta arbetena i en fastighet. I vissa fall är det svårt att sätta ett fast pris och då gäller överenskommelse.
    </p>
    <br />
    <p><b>I våra priser ingår:</b></p>
    <ul>
        <li>Projektering av hela eller delar av projektet</li>
        <li>Upphandling</li>
        <li>Information till styrelsen och medlemmarna i bostadsrättsföreningen</li>
        <li>Rekommendationer på val av entreprenör och projektets innehåll</li>
    </ul>
</div>

<div class="col-md-4">
    <br /><br />
    <a href="http://www.soliditet.se/lang/sv_SE/RatingGuideline" target="_blank" style="text-decoration: none;"><img style="border:0px;" oncontextmenu="return false" title="Vi &auml;r ett kreditv&auml;rdigt f&ouml;retag enligt Bisnodes v&auml;rderingssystem som baserar sig p&aring; en m&auml;ngd olika beslutsregler. Denna uppgift &auml;r alltid aktuell&#44; informationen uppdateras dagligen via Bisnodes databas." alt="Vi &auml;r ett kreditv&auml;rdigt f&ouml;retag enligt Bisnodes v&auml;rderingssystem som baserar sig p&aring; en m&auml;ngd olika beslutsregler. Denna uppgift &auml;r alltid aktuell&#44; informationen uppdateras dagligen via Bisnodes databas." id="aaLogoTjanster" src="http://merit.soliditet.se/merit/imageGenerator/display?lang=SE&country=SE&cId=kiHXHSMYKv%2FkM7Ubyt8aFg%3D%3D&cUid=EhZ89c%2B10Lo%3D&imgType=img_273_73_px_tr1" /></a>

    <br /><br /><br />
    <img class="img-circle" src="http://resources.mynewsdesk.com/image/upload/t_next_gen_span3_fit_and_crop/heupkfz44o3j0dhhmbqe.jpg" />
    
</div>
