@{
    ViewData["Title"] = "Foretagskund";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/tjanster.css" />
</head>

<br />
<br />
<br />
<br />

<div class="col-md-8">
    <h2>Tjänster för Företagskunder</h2>
    <br /><br />
    <p>
        <b>Vill du också få in jobb utan att tappa tid och pengar?</b><br />
      Du är inte ensam. Många byggföretagare idag är less på att jaga kunder, krångla med hantverksformulär och hantera egna säljare. Egentligen vill man bara göra fina jobb och få betalt för dessa arbeten. OffertGuiden drivs av Jan Holopainen, Marcus Grimsrud och Ronnie Lindblad. Vi har tillsammans över 40 års erfarenhet inom bygg – som takläggare, plattsättare, arbetsledare, projektledare och säljare. Vi vet hur det är att driva byggföretag med upp till 30 anställda, fokus behöver hamna både på att eftersträva en nöjd kund liksom bra arbetsledning, planering och effektivitet samt ett genomgående bra slutresultat.
        <br />
        <br />
        Det finns flera olika sätt att som företag samarbeta med oss på OffertGuiden
        <ul>
            <li>Anslut er mot oss för samarbete mot bostadsrättsföreningar</li>
            <li>Anslut er mot oss för samarbete mot privatpersoner</li>
        </ul>
        
        Ta kontakt redan idag!
    <p />
</div>

<div class="col-md-4">
    <br /><br />
    <a href="http://www.soliditet.se/lang/sv_SE/RatingGuideline" target="_blank" style="text-decoration: none;"><img style="border:0px;" oncontextmenu="return false" title="Vi &auml;r ett kreditv&auml;rdigt f&ouml;retag enligt Bisnodes v&auml;rderingssystem som baserar sig p&aring; en m&auml;ngd olika beslutsregler. Denna uppgift &auml;r alltid aktuell&#44; informationen uppdateras dagligen via Bisnodes databas." alt="Vi &auml;r ett kreditv&auml;rdigt f&ouml;retag enligt Bisnodes v&auml;rderingssystem som baserar sig p&aring; en m&auml;ngd olika beslutsregler. Denna uppgift &auml;r alltid aktuell&#44; informationen uppdateras dagligen via Bisnodes databas." id="aaLogoTjanster" src="http://merit.soliditet.se/merit/imageGenerator/display?lang=SE&country=SE&cId=kiHXHSMYKv%2FkM7Ubyt8aFg%3D%3D&cUid=EhZ89c%2B10Lo%3D&imgType=img_273_73_px_tr1" /></a>

    <br /><br /><br />
    <img class="img-circle" src="http://www.tlbelteknik.se/wp-content/uploads/2014/09/byggforetag.png" />
</div>
