@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/index.css">
</head>

<style>
    #indexText{
       margin-right: 6%;
    }
    #h2Top{
        padding-top: 23%;
        color: darkslategrey;
    }
    body {
        font-weight: 100;
    }

</style>

<div class="col-md-6">

    


    <h2 id="h2Top">Din guide i byggdjungeln</h2>
    <p id="indexText">Känns upphandlingar och offerter jobbiga, svåra och tidskrävande att ta tag i?
        Tiden, kunskapen och kraften att ta tag i just erat projekt kan snabbt bli mer
        omfattande än man tror från början. OffertGuiden hjälper just dig att göra smärtfria
        upphandlingar. Kunskapen och kontaktnätet inom bygg gör oss slagkraftiga och tillsammans
        med dej når vi uppsatta mål inom utsatt tid för rätt pris. Låt oss hjälpa just dig. Gör slag
        i saken Kontakta oss idag!
        
    </p>
    
 </div>
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="5000">

        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <div class="carousel-inner" role="listbox">
            <div class="item active">

                <img src="https://scontent-arn2-1.xx.fbcdn.net/v/t31.0-8/21015794_816521005173771_4048548023371047258_o.jpg?oh=6f81eda70d4ae99ad4c7591a7a607adb&oe=5A800B3B" alt="ASP.NET" class="img-responsive" />

            </div>
            <div class="item">
                <img src="https://scontent-arn2-1.xx.fbcdn.net/v/t31.0-8/20988844_816530141839524_7425045394888480312_o.jpg?oh=22bece409c6dc78315cddf180fb653aa&oe=5A42D1CB" alt="Visual Studio" class="img-responsive" />
                <div class="carousel-caption" role="option">
                    @*<p>
                        Läs mer om det här projektet och hur idèn blev verklighet.
                        <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525029&clcid=0x409">
                            Läs Mer
                        </a>*@
                   
                </div>
            </div>

            <div class="item">
                <img src="https://scontent-arn2-1.xx.fbcdn.net/v/t31.0-8/21762748_828772897281915_9085940419380829392_o.jpg?oh=805b7102368bb9173c1271ce8542d931&oe=5A50CE65" alt="Microsoft Azure" class="img-responsive" />
                <div class="carousel-caption" role="option">
                    @*<p>
                        Det här projektet gjordes bara på en vecka.
                        <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                            Läs Mer
                        </a>
                    </p>*@
                </div>
            </div>



            <div class="item">
                <img src="~/images/offertguidenLogo.png" alt="Package Management" class="img-responsive" />
                <div class="carousel-caption" role="option">

                </div>
            </div>

        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
<br />
<br />
<br />




    <div class="row">
        <div class="col-md-4" id="columndiv">
            <img class="img-circle" src="http://resources.mynewsdesk.com/image/upload/t_next_gen_span3_fit_and_crop/heupkfz44o3j0dhhmbqe.jpg" />
            <h2>Bostadsförening</h2>

            <p><b>Gör en smart upphandling som styrelse i bostadsrättsföreningen</b></p>
            <p>En styrelse i en bostadsrättsförening har ansvaret över föreningens egendom och ekonomi 
                och att förvaltning av dessa sker på rätt sätt. När det är dags för renovering eller andra
                byggprojekt kommer bostadsrättsföreningen att stå inför tidskrävande och krångliga 
                upphandlingsprocesser.  Samtidigt som styrelsen har ansvar över att förvalta pengarna på ett bra sätt har den samtidigt intresse i att visa upp vad den planerar att göra med pengarna samtidigt som...</p>
            <a asp-area="" asp-controller="Home" asp-action="Bostadsrattsforening" class="btn btn-default" role="button">Läs mer</a>
        </div>
        <div class="col-md-4" id="columndiv">
            <img class="img-circle" src="http://www.happyhomes.se/media/wysiwyg/Kunskapsbilder/DEMIDEKK-Brilliant-White-fasad-webb.jpg"/>
            <h2>Privatkund</h2>
            <p><b>Gör en problemfri upphandling som privatperson</b></p>
            <p>
                Privatpersoner brukar normalt sett inte hantera offerter i en större utsträckning. När man dock hamnar i upphandlingar som privatperson är det naturligt att man är extra försiktig. Om du då gör fel kan du enbart skylla dig själv. Här kommer OffertGuiden in i bilden. När OffertGuiden hanterar upphandlingar för privatpersoner får du istället experthjälp med avtalshantering och undviker därmed att hamna i svårigheter. Det första steget efter kontakt med OffertGuiden är ett...
            </p>
            <a asp-area="" asp-controller="Home" asp-action="Privatkund" class="btn btn-default" role="button">Läs mer</a><br />
        </div>
       
        <div class="col-md-4">
            <img class="img-circle" src="http://www.tlbelteknik.se/wp-content/uploads/2014/09/byggforetag.png" />
            <h2>Företagskund</h2>
            <p><b>Vill du också få in jobb utan att tappa tid och pengar</b></p>
            <p> Du är inte ensam. Många byggföretagare idag är less på att jaga kunder, krångla med hantverksformulär och hantera egna säljare. Egentligen vill man bara göra fina jobb och få betalt för dessa arbeten. OffertGuiden drivs av Jan Holopainen, Marcus Grimsrud och Ronnie Lindblad. Vi har tillsammans över 40 års erfarenhet inom bygg – som takläggare, plattsättare, arbetsledare, projektledare och säljare. Vi vet hur det är att driva byggföretag med upp till...</p>
            <a asp-area="" asp-controller="Home" asp-action="Foretagskund" class="btn btn-default" role="button">Läs mer</a>
        </div>

    </div>

