@{
    ViewData["Title"] = "LoggedIn";
}
<style>
    body {
        padding-top: 13%;
        line-height: 26px;
        font-family: Verdana;
    }
    #h4center{
        text-align: center;
        padding-top: 2%;
        padding-bottom: 6%;
    }
    .col-lg-3{
        text-align: center;
        padding-bottom: 8%;
    }
    #center{
        text-align: center;
    }
</style>
<div class="col-lg-12">
<h2 id="center">Vad vill du göra</h2>
    <h4 id="h4center">Välj vilket av följande alternativ som passar dig bäst</h4>
</div>

<div class="col-lg-3">
    <a asp-area="" asp-controller="Home" asp-action="Bostadsrattsforening" class="btn btn-lg btn-primary" role="button">Skapa ny referens</a>
</div>
<div class="col-lg-3">
    <a asp-area="" asp-controller="Home" asp-action="CreateBlog" class="btn btn-lg btn-primary" role="button">Skapa nytt blogginlägg</a>
</div>

<div class="col-lg-3">
    <a asp-area="" asp-controller="Home" asp-action="Bostadsrattsforening" class="btn btn-lg btn-danger" role="button">Ta bort blogginlägg</a>
</div>

<div class="col-lg-3">
    <a asp-area="" asp-controller="Home" asp-action="Bostadsrattsforening" class="btn btn-lg btn-danger" role="button">Ta bort referens</a>
</div>