@{
    ViewData["Title"] = "OmOss";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/omOss.css">
</head>

<br />
<br />
<br />

<div class="col-md-12">
    <h1>Om oss</h1>
    <br />
    <img class="beforeAfterPic" src="https://scontent-arn2-1.xx.fbcdn.net/v/t31.0-8/21167831_820429131449625_5879014987563097394_o.jpg?oh=db5b93a1f2418460cc01d1dea84b616d&oe=5A3BB86D" />
</div>

<div class="col-md-12">
        <br />
        <p>
            OffertGuiden Bygg Sverige AB, även benämnt som OffertGuiden, är ett tekniskt konsultföretag inom byggbranschen,
            vars affärsidé är att sköta upphandlingar mellan företag, bostadsrättsföreningar och privatpersoner.
            Vi hjälper även företag med försäljning där vi representerar företagen och skapar projekt.
           
        </p>
    <br /><br />
</div>



<div class="col-md-8">
        <br />
        <h4>Vi skiljer oss från konkurrenterna</h4>
        <p>
            Affärsidén skiljer sig från konkurrenterna då OffertGuiden inte kostar något förrän produkten har färdigställts och levererats till kunden.
            Detta skiljer sig då byggkonsulten i normala fall tar ut ett arvode per timme, vilket innebär att en vanlig upphandling är dyr och tidskrävande.
        </p>
        <br />
</div>

<div class="col-md-4">
        <img class="img-rounded" id="roundedPicRoof"src="https://scontent-arn2-1.xx.fbcdn.net/v/t31.0-8/20988309_816016671890871_2553236634825829105_o.jpg?oh=c4bbf06e8c27f8a71d40c4ca64e40c83&oe=5A134C57" />
</div>

<div class="col-md-4">
        <br />
        <img class="img-rounded" id="roundedPicMassa" src="https://scontent-arn2-1.xx.fbcdn.net/v/t31.0-8/16299726_706307352861804_6581911032327467512_o.jpg?oh=5f153e9562eb0c50861dc9cf90af75f5&oe=5A28F493" />
</div>   
       
<div class="col-md-8">
        <br /><br />
            <h4>Gedigen Erfarenhet</h4>
            <p>
                OffertGuiden har en gedigen erfarenhet där medarbetarna har arbetat som konsulter inom byggbranschen i många år och med den stora kunskapsbank som finns att tillgå kan omfattande totalentreprenader och enskilda projekt upphandlas.
            </p>
            <br /><br />

</div>

<div class="col-md-12">
    
    <br /><br />
    <h4>Affärsidé</h4>
    <p>
        Affärsidén är baserad på den stora identifierade efterfrågan inom byggbranschen när det kommer till konsultering i de komplexa och resurskrävande upphandlingsprocesserna.
        Mötet med kunden går ut på att detaljerat gå igenom det aktuella projektet på plats, diskutera potentiella vägar framåt och skräddarsy ett offertunderlag för kunden. Under kundmötet bearbetas ett omfattande nätverk av entreprenörer med referenser inom det för projektet lämpliga området där specialistkompetens tillämpas om så krävs. Mellan 3–5 offerter granskas sedan tillsammans med kunden och med ett transparent kundmöte får kunden sedermera välja vilken entreprenör som ska utföra arbetet. OffertGuiden hjälper till med dokumentation, projektering och besiktning för att säkerställa ett väl utfört arbete. Upphandlingen sker med kundens val av entreprenör varpå 5–10% av totalsumman tas ut i arvode.
    </p>
    <br /><br />

</div>
