@{
    ViewData["Title"] = "OmOss";
}
<style>
    body {
        line-height: 26px;
        font-family: Verdana;
    }

    #aaLogo {
        height: 75px;
        margin-left: 17%;
    }

    .img-rounded {
        height: 300px;
        box-shadow: 2px -2px 100px rgba(0,0,0,.5);
        float: left;
        margin-right: 15px;
    }
    #right{
        float: right;
    }
</style>
<br />
<br />
<br />
<br />
<div class="col-md-8">
    <h2>Om OffertGuiden Bygg Sverige AB</h2>
</div>
<div class="col-md-4">
    <br /><br />
    <a href="http://www.soliditet.se/lang/sv_SE/RatingGuideline" target="_blank" style="text-decoration: none;"><img style="border:0px;" oncontextmenu="return false" title="Vi &auml;r ett kreditv&auml;rdigt f&ouml;retag enligt Bisnodes v&auml;rderingssystem som baserar sig p&aring; en m&auml;ngd olika beslutsregler. Denna uppgift &auml;r alltid aktuell&#44; informationen uppdateras dagligen via Bisnodes databas." alt="Vi &auml;r ett kreditv&auml;rdigt f&ouml;retag enligt Bisnodes v&auml;rderingssystem som baserar sig p&aring; en m&auml;ngd olika beslutsregler. Denna uppgift &auml;r alltid aktuell&#44; informationen uppdateras dagligen via Bisnodes databas." id="aaLogo" src="http://merit.soliditet.se/merit/imageGenerator/display?lang=SE&country=SE&cId=kiHXHSMYKv%2FkM7Ubyt8aFg%3D%3D&cUid=EhZ89c%2B10Lo%3D&imgType=img_273_73_px_tr1" /></a>

</div>



    <div class="col-md-12">
        <img class="img-rounded" src="https://scontent-arn2-1.xx.fbcdn.net/v/t31.0-8/16299726_706307352861804_6581911032327467512_o.jpg?oh=5f153e9562eb0c50861dc9cf90af75f5&oe=5A28F493" />

        <h4>Affärsidé</h4>
        <p>
            OffertGuiden Bygg Sverige AB, även benämnt som OffertGuiden, är ett tekniskt konsultföretag inom byggbranschen,
            vars affärsidé är att sköta upphandlingar mellan företag, bostadsrättsföreningar och privatpersoner.
            Vi hjälper även företag med försäljning där vi representerar företagen och skapar projekt.
            Affärsidén är baserad på den stora identifierade efterfrågan inom byggbranschen när det kommer till konsultering i de komplexa och resurskrävande upphandlingsprocesserna.
            <br />
            <br />
            Affärsidén skiljer sig från konkurrenterna då OffertGuiden inte kostar något förrän produkten har färdigställts och levererats till kunden.
            Detta skiljer sig då byggkonsulten i normala fall tar ut ett arvode per timme, vilket innebär att en vanlig upphandling är dyr och tidskrävande.
            <br />
        </p>
    </div>



    <div class="col-md-12">
        <img class="img-rounded" id="right" src="https://scontent-arn2-1.xx.fbcdn.net/v/t31.0-8/20988309_816016671890871_2553236634825829105_o.jpg?oh=c4bbf06e8c27f8a71d40c4ca64e40c83&oe=5A134C57" />
       
        
        <h4>Verksamhet</h4>
        <br />
        <p>
            OffertGuiden har en gedigen erfarenhet där medarbetarna har arbetat som konsulter inom byggbranschen i många år och med den stora kunskapsbank som finns att tillgå kan omfattande totalentreprenader och enskilda projekt upphandlas.
            <br />
            <br />
            Mötet med kunden går ut på att detaljerat gå igenom det aktuella projektet på plats, diskutera potentiella vägar framåt och skräddarsy ett offertunderlag för kunden. Under kundmötet bearbetas ett omfattande nätverk av entreprenörer med referenser inom det för projektet lämpliga området där specialistkompetens tillämpas om så krävs. Mellan 3–5 offerter granskas sedan tillsammans med kunden och med ett transparent kundmöte får kunden sedermera välja vilken entreprenör som ska utföra arbetet. OffertGuiden hjälper till med dokumentation, projektering och besiktning för att säkerställa ett väl utfört arbete. Upphandlingen sker med kundens val av entreprenör varpå 5–10% av totalsumman tas ut i arvode.

        </p>

    </div>




