@{
    ViewData["Title"] = "Privatkund";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/tjanster.css" />
</head>

<br />
<br />
<br />
<br />

<div class="col-md-8">
    <h2>Tjänster för Privatkunder</h2>
    <br /><br />
    <p>
        <b>Gör en problemfri upphandling som privatperson!</b><br />
        Privatpersoner brukar normalt sett inte hantera offerter i en större utsträckning. När man dock hamnar i upphandlingar som privatperson är det naturligt att man är extra försiktig. Om du då gör fel kan du enbart skylla dig själv. Här kommer OffertGuiden in i bilden. När OffertGuiden hanterar upphandlingar för privatpersoner får du istället experthjälp med avtalshantering och undviker därmed att hamna i svårigheter.
    <p />
    <br />
    <p>
        <b>Hur OffertGuiden hittar rätt entreprenörer</b><br />
        Det första steget efter kontakt med OffertGuiden är ett gemensamt platsbesök där projektets omfattning och förfrågningsunderlag utformas och idéer om vägen framåt diskuteras. Efter att gemensamt ha kommit fram till vad projektet innebär ska rätt entreprenörer bestämmas i samråd med kund. OffertGuiden kan genom sin bakgrund och sitt stora kontaktnät bidra till att de aktuella företagen i sin tur bidrar med hög kvalitet, pålitlighet och kompetens till arbetet som ska utföras. OffertGuiden går då igenom företagens tidigare referenser, tidsplan för projektets utförande, ekonomi och avtal innan företagen väljs.
    <p />
    <br />
    <p>
        <b>Avtal</b><br />
        Nästa steg i processen är att utforma och signera avtal mellan entreprenören och kunden i samråd med OffertGuiden. Avtalen ska vara så grundläggande som möjligt för att undvika framtida tvister. Det ska då framgå vilka samtliga parters skyldigheter är och vad som gäller vid exempelvis förseningar. Att skriva detaljerade avtal kan ta tid, och känslan av en lägre pålitlighet kan infinnas, men så är det naturligtvis inte. Grundinställningen hos samtliga parter är att projektet ska förlöpa så effektivt som möjligt och det är därför av yttersta vikt att tydligt klargöra vad som gäller. Vi använder oss av Hantverkarformuläret14.
    <p />
    <br />
    <p>
        <b>Offertguiden rekommenderar besiktning</b><br />
        Det kan handla om att du bygger nytt, bygger till, renoverar eller bygger om. Det kan handla om en villa, lägenhet, sommarstuga eller någon annan byggnad. Husbesiktning, eller entreprenadbesiktning som den rätta termen lyder, görs i samband med alla former av byggnationer där du anlitat en byggentreprenör. När du gör en så pass stor investering som detta innebär är det naturligt att känna oro för alla myndighetskrav och byggregler. Därför är det viktigt att du själv väljer både kontrollansvarig och besiktningsman enligt din lagliga rätt. En kontrollansvarig har som funktion att vara din förlängda arm när det kommer till myndighetskrav. En besiktningsman är den person som opartiskt, objektivt och självständigt utför en besiktning när det kommer till myndighetskrav och bygg – och branschregler i de arbeten som entreprenören har utfört. Syftet med besiktningen är att få en opartisk och fackmässig kontroll av att byggentreprenören har utfört sitt arbete på ett korrekt sätt och enligt tidigare överenskommelse mellan er och byggentreprenören. Det finns olika typer av besiktningar där en rekommendation är att göra en så kallad slutbesiktning innan du betalar slutfakturan för arbetet. Besiktningen är viktig eftersom den ger ett opartiskt underlag som kan vara mycket betydelsefull om något blir fel eller om det uppstår någon tvist mellan dig och entreprenören och försäkringsbolag.
        <br />
        <br />
        Om besiktningsmannen noterar fel och/eller brister vid besiktning av arbetet har entreprenör eller leverantör både rätt och skyldighet att inom två månader justera de fel som ska åtgärdas. Annars har du rätt att låta en annan entreprenör åtgärda fel och brister på den för förre entreprenörens bekostnad. Vi rekommenderar Besiktningsmannaboken som hjälper er att få en klarare bild av vilka krav som ställs vid besiktning och hur besiktningen går till.
        <br />
        <br />
        För småhusentreprenader med konsument som beställare bör standardavtalet ABS09 tillämpas gällande nybyggnad eller tillbyggnad. För ombyggnation, installationsarbeten och andra arbeten/entreprenader gäller Hantverkarformuläret14.
    <p />
   
</div>

<div class="col-md-4">
    <br /><br />
    <a href="http://www.soliditet.se/lang/sv_SE/RatingGuideline" target="_blank" style="text-decoration: none;"><img style="border:0px;" oncontextmenu="return false" title="Vi &auml;r ett kreditv&auml;rdigt f&ouml;retag enligt Bisnodes v&auml;rderingssystem som baserar sig p&aring; en m&auml;ngd olika beslutsregler. Denna uppgift &auml;r alltid aktuell&#44; informationen uppdateras dagligen via Bisnodes databas." alt="Vi &auml;r ett kreditv&auml;rdigt f&ouml;retag enligt Bisnodes v&auml;rderingssystem som baserar sig p&aring; en m&auml;ngd olika beslutsregler. Denna uppgift &auml;r alltid aktuell&#44; informationen uppdateras dagligen via Bisnodes databas." id="aaLogoTjanster" src="http://merit.soliditet.se/merit/imageGenerator/display?lang=SE&country=SE&cId=kiHXHSMYKv%2FkM7Ubyt8aFg%3D%3D&cUid=EhZ89c%2B10Lo%3D&imgType=img_273_73_px_tr1" /></a>

    <br /><br /><br />
    <img class="img-circle" src="http://www.happyhomes.se/media/wysiwyg/Kunskapsbilder/DEMIDEKK-Brilliant-White-fasad-webb.jpg" />

    
</div>



