@{
    ViewData["Title"] = "Ref1";
}
<style>
    body {
        padding-top: 10%;
        line-height: 26px;
        font-family: Verdana;
    }

    .refPic {
        height: 100%;
        width: 100%;
        padding-top: 2%;
        
    }
    #center{
        text-align: center;
    }
    .h4Ref{
        padding-top: 18%;
    }

</style>

<div class="col-md-8">
    <h2>Takmålning och reparation av tak i Stockholm</h2>
    
 <img class="refPic" src="https://scontent-arn2-1.xx.fbcdn.net/v/t31.0-8/20988309_816016671890871_2553236634825829105_o.jpg?oh=5cc5dcdada32c48e9b72e47248b787f9&oe=5A3AD957" />
</div>
<div class="col-md-4">

    <h4 class="h4Ref">Om projektet</h4>
    <p>”Ett samtal ifrån” <br />
Bostadsrättsföreningen Gråberget tog, efter att de identifierat ett läckande yttertak, kontakt med oss på Offertguiden. Väl på plats genomförde vi en besiktning av taket varpå vi kunde konstatera att taket behövde reparationer och att plåttaket behövde målas. Därefter följde den standardprocess vi brukar använda oss utav. Vi tog kontakt med fem olika företag som därefter presenterades för styrelsen under ett möte. Som sig bör skapade vi ett sammanställningsprotokoll för styrelsen med en sammanställning av företagens ekonomi, kreditvärdighet, referenser, offertens olika beståndsdelar och det som är av vikt att känna till om företagen.
<br />När arbetet väl startade tog det cirka 2 veckor innan allt var färdigställt. Efter slutfört arbete har vi numera ett samarbete med BRF Gråberget, vilket innebär att vi på OffertGuiden har tagit oss an ytterligare projekt åt föreningen. Vi håller på att optimera värmesystemet inklusive byten av radiatorer, ventiler, stamventiler och injustering. Detta kan ni läsa mer om när arbetet är slutfört.
</p>
</div>