@{
    ViewData["Title"] = "Referenser";
}
<style>
    body {
        line-height: 26px;
        font-family: Verdana;
    }

    .refPic {
        height: 170px;
        max-width: 270px;
    }

    #center {
        text-align: center;
        
    }

        #item img {
            max-width: 100%;
            -moz-transition: all 1.3s;
            -webkit-transition: all 1.3s;
            transition: all 1.3s;
        }

        #item:hover img {
            -moz-transform: scale(1.05);
            -webkit-transform: scale(1.05);
            transform: scale(1.05);
            opacity: 0.8;
        }

     a:hover {
        text-decoration: none;
    }
</style>


<br />
<br />
<br />

<div class="col-md-12">
    <h2 id="center"> Offertguiden Referenser</h2>
    <br />
  
</div>

<div class="col-md-3" id="item">
    <a asp-area="" asp-controller="Home" asp-action="Ref1">
    <img class="refPic" src="https://scontent-arn2-1.xx.fbcdn.net/v/t31.0-8/20988309_816016671890871_2553236634825829105_o.jpg?oh=5cc5dcdada32c48e9b72e47248b787f9&oe=5A3AD957" alt="Takbild" />
    <h4 id="center">Takmålning och reparation av tak i Stockholm</h4>
    </a>
</div>


